* {
    background: #000000;
    color: #FCFCFC;
    padding: 0;
    margin: 0;
    font-family: 'Prosto One', cursive;
    list-style-type: none;
    text-decoration: none;
    line-height: 1.5em;
}

a {
    transition: .4s all ease-in;
    -webkit-transition: .4s all ease-in;
    -moz-transition: .4s all ease-in;
    -o-transition: .4s all ease-in;
}

a:hover {
    color: #9E785F;
}

h1 {
    display: inline-block;
    font-size: 22px;
    margin: 20px;
}

h2 {
    padding: 10px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

div.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
}

section {
    display: block;
    max-width: 800px;
    padding: 10px;
}

p {
    padding: 20px;
    text-align: left;
}

p.poem {
    font-size: 14px;
    text-align: center;
    border: 1px solid #BDACA0;
}

p.poem span {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 45px;
}

p.poem span.expand {
    font-size: 12px;
    font-weight: normal;
    float: right;
    position: relative;
    left: 0;
}

div#toggleText {
    padding: 20px;
    font-size: 14px;
    text-align: left;
}

p.after {
    margin-top: -30px;
}

.story h2 {
    background: #9E8778;
}

.impact h2 {
    background: #9E785F;
}

.future h2 {
    background: #3B1700;
}

footer {
    text-align: right;
    margin-top: 50px;
    margin-right: 10px;
}

footer ul li {
    display: inline;
    padding-left: 30px;
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 30px;
    }
}