* {
    background: #121212;
    color: #FDFDFD;
    padding: 0;
    margin: 0;
    font-family: 'Prosto One', cursive;
    list-style-type: none;
    text-decoration: none;
}
nav {
    background: navy;
    width: 200px;
    height: 100%;
    position: fixed;
}
nav ul li a {
    background-color: navy;
}
nav ul li {
    background-color: navy;
}
nav ul {
    background-color: navy;
    position: relative;
    top: 15px;
    left: 20px;
    display: inline-block;
}
h1 {
    display: inline-block;
    text-align: right;
    font-size: 22px;
    margin: 20px;
    margin-left: 200px;
}
h2 {
    display: inline;
    margin-left: 200px;
}
section {
    display: block;
    margin-left: 200px;
    max-width: 800px;
}
.story {
    background: red;
}
.impact {
    background: green;
}
.future {
    background: purple;
}
footer {
    background: orange;
    margin-left: 200px;
    margin-top: 50px;
}
