* {
    background: #121212;
    color: #FDFDFD;
    padding: 0;
    margin: 0;
    font-family: 'Prosto One', cursive;
}
nav {
    background: navy;
    display: inline-block;
    width: 200px;
    height: 100%;
    float: left;
}
h1 {
    display: inline-block;
    text-align: right;
    font-size: 20px;
    margin-left: 200px;
}
h2 {
    display: inline;
    margin-left: 200px;
}
section {
    display: block;
    margin-left: 200px;
}
.story {
    background: red;
}
.impact {
    background: green;
}
